@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="areaInfoForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="areaName" name="区域名称" underline="true"/>
                            <#select id="areaType" name="区域类型" underline="true">
                                <option value="1">省份直辖市</option>
                                <option value="2">地市</option>
                                <option value="3">区县</option>
                            </#select>
                            <#input id="remarks" name="备注信息" underline="true"/>

                </div>
                <div class="col-sm-6">
                            <#input id="areaCode" name="区域编号" underline="true"/>
                            <#input id="parentCode" name="父级编号" underline="true"
                                    hidden="parentCode" readonly="readonly"
                                    clickFun="SysAreaInfoDlg.showAreaSelectTree(); return false;"
                                    style="background-color: #ffffff !important;"
                                    selectFlag="true" selectId="parentCodeDiv" selectTreeId="parentCodeTree" selectStyle="width:244px !important;"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SysAreaInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SysAreaInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/area/sysArea_info.js"></script>
@}
