@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="regionInfoForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="name" name="区域名称" underline="true"/>
                            <#input id="pName" name="上级区域" underline="true"
                                hidden="pid" readonly="readonly"
                                clickFun="RegionInfoDlg.showRegionSelectTree(); return false;"
                                style="background-color: #ffffff !important;"
                                selectFlag="true" selectId="pIdDiv" selectTreeId="pIdTree" selectStyle="width:244px !important;"/>
                </div>
                <div class="col-sm-6">
                            <#input id="code" name="区域编号" underline="true"/>
                            <#input id="description" name="描述信息" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="RegionInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="RegionInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/region/region_info.js"></script>
@}
